In [212]:
import numpy as np
import pandas as pd
# from lightgbm import LGBMClassifier
import warnings
warnings.filterwarnings('ignore')
# import sklearn

In [213]:
import os

---

In [214]:
train  = pd.read_csv('./data/train.csv')
test  = pd.read_csv('./data/test.csv')

train = train.drop(['index'],axis = 1)
test =test.drop(['index'],axis = 1)

In [215]:
concat_features = train

mask = concat_features.introelapse > (concat_features.introelapse.quantile(0.75) + 1.5 * (concat_features.introelapse.quantile(0.75) - concat_features.introelapse.quantile(0.25)))
concat_features.introelapse[mask] = concat_features.introelapse.quantile(0.75)

mask = concat_features.testelapse > (concat_features.testelapse.quantile(0.75) + 1.5 * (concat_features.testelapse.quantile(0.75) - concat_features.testelapse.quantile(0.25)))
concat_features.testelapse[mask] = concat_features.testelapse.quantile(0.75)

mask = concat_features.surveyelapse > (concat_features.surveyelapse.quantile(0.75) + 1.5 * (concat_features.surveyelapse.quantile(0.75) - concat_features.surveyelapse.quantile(0.25)))
concat_features.surveyelapse[mask] = concat_features.surveyelapse.quantile(0.75)

train = concat_features



concat_features = test

mask = concat_features.introelapse > (concat_features.introelapse.quantile(0.75) + 1.5 * (concat_features.introelapse.quantile(0.75) - concat_features.introelapse.quantile(0.25)))
concat_features.introelapse[mask] = concat_features.introelapse.quantile(0.75)

mask = concat_features.testelapse > (concat_features.testelapse.quantile(0.75) + 1.5 * (concat_features.testelapse.quantile(0.75) - concat_features.testelapse.quantile(0.25)))
concat_features.testelapse[mask] = concat_features.testelapse.quantile(0.75)

mask = concat_features.surveyelapse > (concat_features.surveyelapse.quantile(0.75) + 1.5 * (concat_features.surveyelapse.quantile(0.75) - concat_features.surveyelapse.quantile(0.25)))
concat_features.surveyelapse[mask] = concat_features.surveyelapse.quantile(0.75)

test = concat_features

In [216]:
train.loc[train['age'] == 0, 'age'] = train['age'].mean()
test.loc[test['age'] == 0, 'age'] = train['age'].mean()

In [217]:
train.loc[train['age'] > 65, 'age'] = 0
test.loc[test['age'] > 65, 'age'] = 0

In [218]:
train.loc[train['familysize'] > 6, 'familysize'] = train['familysize'].mode()[0]
test.loc[test['familysize'] > 6, 'familysize'] = train['familysize'].mode()[0]

In [219]:
for name in ['education', 'urban', 'gender', 'engnat', 'hand', 'religion',
            'voted', 'married']:

    mergedata = pd.get_dummies(train[name], prefix = name)
    train = pd.concat([train, mergedata], axis=1)
    train = train.drop([name], axis = 1)

In [220]:
for name in ['education', 'urban', 'gender', 'engnat', 'hand', 'religion',
            'voted', 'married']:

    mergedata = pd.get_dummies(test[name], prefix = name)
    test = pd.concat([test, mergedata], axis=1)
    test = test.drop([name], axis = 1)

In [221]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 94 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Q1             14959 non-null  float64
 1   Q2             14931 non-null  float64
 2   Q3             14950 non-null  float64
 3   Q4             14929 non-null  float64
 4   Q5             14962 non-null  float64
 5   Q6             14952 non-null  float64
 6   Q7             14924 non-null  float64
 7   Q8             14952 non-null  float64
 8   Q9             14944 non-null  float64
 9   Q10            14928 non-null  float64
 10  Q11            14941 non-null  float64
 11  Q12            14933 non-null  float64
 12  Q13            14960 non-null  float64
 13  Q14            14964 non-null  float64
 14  Q15            14955 non-null  float64
 15  Q16            14967 non-null  float64
 16  Q17            14963 non-null  float64
 17  Q18            14937 non-null  float64
 18  Q19            14947 non-null  float64
 19  Q20            14955 non-null  float64
 20  Q21            14961 non-null  float64
 21  Q22            14962 non-null  float64
 22  Q23            14950 non-null  float64
 23  Q24            14939 non-null  float64
 24  Q25            14956 non-null  float64
 25  Q26            14932 non-null  float64
 26  country        14810 non-null  object
 27  introelapse    15000 non-null  int64
 28  testelapse     15000 non-null  int64
 29  surveyelapse   15000 non-null  int64
 30  TIPI1          14947 non-null  float64
 31  TIPI2          14934 non-null  float64
 32  TIPI3          14921 non-null  float64
 33  TIPI4          14936 non-null  float64
 34  TIPI5          14930 non-null  float64
 35  TIPI6          14938 non-null  float64
 36  TIPI7          14936 non-null  float64
 37  TIPI8          14935 non-null  float64
 38  TIPI9          14936 non-null  float64
 39  TIPI10         14920 non-null  float64
 40  VCL1           15000 non-null  int64
 41  VCL2           15000 non-null  int64
 42  VCL3           15000 non-null  int64
 43  VCL4           15000 non-null  int64
 44  VCL5           15000 non-null  int64
 45  VCL6           15000 non-null  int64
 46  VCL7           15000 non-null  int64
 47  VCL8           15000 non-null  int64
 48  VCL9           15000 non-null  int64
 49  VCL10          15000 non-null  int64
 50  VCL11          15000 non-null  int64
 51  VCL12          15000 non-null  int64
 52  VCL13          15000 non-null  int64
 53  VCL14          15000 non-null  int64
 54  VCL15          15000 non-null  int64
 55  VCL16          15000 non-null  int64
 56  age            15000 non-null  float64
 57  orientation    14601 non-null  float64
 58  familysize     14681 non-null  float64
 59  ASD            14911 non-null  float64
 60  nerdiness      15000 non-null  int64
 61  education_1.0  15000 non-null  uint8
 62  education_2.0  15000 non-null  uint8
 63  education_3.0  15000 non-null  uint8
 64  education_4.0  15000 non-null  uint8
 65  urban_0        15000 non-null  uint8
 66  urban_1        15000 non-null  uint8
 67  urban_2        15000 non-null  uint8
 68  urban_3        15000 non-null  uint8
 69  gender_1.0     15000 non-null  uint8
 70  gender_2.0     15000 non-null  uint8
 71  gender_3.0     15000 non-null  uint8
 72  engnat_1.0     15000 non-null  uint8
 73  engnat_2.0     15000 non-null  uint8
 74  hand_1.0       15000 non-null  uint8
 75  hand_2.0       15000 non-null  uint8
 76  hand_3.0       15000 non-null  uint8
 77  religion_1.0   15000 non-null  uint8
 78  religion_2.0   15000 non-null  uint8
 79  religion_3.0   15000 non-null  uint8
 80  religion_4.0   15000 non-null  uint8
 81  religion_5.0   15000 non-null  uint8
 82  religion_6.0   15000 non-null  uint8
 83  religion_7.0   15000 non-null  uint8
 84  religion_8.0   15000 non-null  uint8
 85  religion_9.0   15000 non-null  uint8
 86  religion_10.0  15000 non-null  uint8
 87  religion_11.0  15000 non-null  uint8
 88  religion_12.0  15000 non-null  uint8
 89  voted_1.0      15000 non-null  uint8
 90  voted_2.0      15000 non-null  uint8
 91  married_1.0    15000 non-null  uint8
 92  married_2.0    15000 non-null  uint8
 93  married_3.0    15000 non-null  uint8
dtypes: float64(40), int64(20), object(1), uint8(33)
memory usage: 7.5+ MB

In [222]:
from sklearn.preprocessing import LabelEncoder
ex = LabelEncoder()

con8 = train.country.value_counts().keys()[:8]

for i in range(train.count().max()):
    if(train.country.values[i] not in con8):
        train.country.values[i] = "X"

for i in range(test.count().max()):
    if(test.country.values[i] not in con8):
        test.country.values[i] = "X"

train.country = ex.fit_transform(train.country)

test.country = ex.fit_transform(test.country)

---

In [223]:
# pip install pycaret

In [224]:
from pycaret.classification import *

model = setup(data = train, target = 'nerdiness',use_gpu=True,session_id=2023, normalize = True, normalize_method = 'zscore',transformation=True,train_size=0.85)

In [225]:
rf = create_model('rf', cross_validation = False)
lightgbm = create_model('lightgbm', cross_validation = False)
et = create_model('et', cross_validation = False)

   Accuracy     AUC  Recall   Prec.      F1   Kappa     MCC
0    0.7765  0.8762  0.8441  0.7637  0.8019  0.5471  0.5507

In [210]:
tuned_cat = tune_model(cat,  n_iter = 50)
tuned_xgb = tune_model(xgb,  n_iter = 50)
tuned_gbr = tune_model(gbr,  n_iter = 50)

In [211]:
blended = blend_models(estimator_list = [tuned_cat,tuned_xgb,tuned_gbr], fold = 10, method = 'soft')

In [226]:
pred_holdout = predict_model(blended)

In [227]:
final_model = finalize_model(blended)

[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_fraction is set=0.9, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_fraction is set=0.9, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_fraction is set=0.9, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_fraction is set=0.9, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_fraction is set=0.9, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_fraction is set=0.9, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_fraction is set=0.9, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_fraction is set=0.9, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_fraction is set=0.9, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4
[LightGBM] [Warning] feature_fraction is set=0.4, colsample_bytree=1.0 will be ignored. Current value: feature_fraction=0.4
[LightGBM] [Warning] bagging_fraction is set=0.9, subsample=1.0 will be ignored. Current value: bagging_fraction=0.9
[LightGBM] [Warning] bagging_freq is set=4, subsample_freq=0 will be ignored. Current value: bagging_freq=4

In [228]:
predictions = predict_model(final_model, data = test)

In [229]:
predictions['Score']

0        0.5579
1        0.8543
2        0.8861
3        0.6734
4        0.8182
          ...
35447    0.8260
35448    0.8518
35449    0.9459
35450    0.6126
35451    0.8069
Name: Score, Length: 35452, dtype: float64

In [230]:
predictions['Label']

0        0
1        1
2        1
3        1
4        1
        ..
35447    1
35448    1
35449    1
35450    0
35451    1
Name: Label, Length: 35452, dtype: int32

In [231]:
predictions.loc[predictions['Label'] == 0, 'Score'] = 1 - predictions.loc[predictions['Label'] == 0, 'Score']

In [232]:
predictions['Score']

0        0.4421
1        0.8543
2        0.8861
3        0.6734
4        0.8182
          ...
35447    0.8260
35448    0.8518
35449    0.9459
35450    0.3874
35451    0.8069
Name: Score, Length: 35452, dtype: float64

In [233]:
sub = predictions['Score']

In [234]:
sub

0        0.4421
1        0.8543
2        0.8861
3        0.6734
4        0.8182
          ...
35447    0.8260
35448    0.8518
35449    0.9459
35450    0.3874
35451    0.8069
Name: Score, Length: 35452, dtype: float64

In [235]:
submission = pd.read_csv('./data/sample_submission.csv')

submission['nerdiness'] = sub

In [236]:
submission

       index  nerdiness
0          0     0.4421
1          1     0.8543
2          2     0.8861
3          3     0.6734
4          4     0.8182
...      ...        ...
35447  35447     0.8260
35448  35448     0.8518
35449  35449     0.9459
35450  35450     0.3874
35451  35451     0.8069

[35452 rows x 2 columns]

In [237]:
submission.to_csv("./submit/submit10.csv", index = False)